<!DOCTYPE html>
<html>
  <head>
    <title>Cash Register App</title>
  </head>
  <body>
    <h1>Cash Register App</h1>

    <ul>
      <li><%= link_to "Products Management", products_path %></li>
      <li><%= button_to "New Cart", new_cart_path, method: :post %>
      </li>
    </ul>

    <%= render 'product_list', products: @products %>
    <%= render 'cart_list' unless @order_products.blank? %>
  </body>
</html>
